In [23]:
import pandas as pd
import seaborn as sns
import plotly.express as px

pd.options.display.max_rows = 10

gdp = pd.read_csv("data/gdp.csv")
print(gdp)
gdp["gdp"] = gdp["GDP (constant 2010 US$)"] / 1_000_000_000

px.line(gdp, x="Year", y="gdp", color = "Entity")


#Now let's find GDP per capita, but the data set doesn't have population
#So, let's get it from another data set
pop = pd.read_csv("data/population.csv")
print(pop)

px.line(pop, x="Year", y="Total population (Gapminder, HYDE & UN)", color="Entity")
#for a more recent history
px.line(pop.query("Year > 1900"), x="Year", y="Total population (Gapminder, HYDE & UN)", color="Entity")

pop = pop.rename( columns = {"Total population (Gapminder, HYDE & UN)" : "population"} )
pop

gdp2017 = gdp.query("Year == 2017")
pop2017 = pop.query("Year == 2017")

#This doesn't work
#percapita = gdp2017 / pop2017
# What we want to do is merge the tables
gdp_and_pop_2017 = pd.merge(left=gdp2017, right=pop2017, left_on="Entity", right_on="Entity", how="outer")
gdp_and_pop_2017

#then
gdp_and_pop_2017["gdp per capita"] = gdp_and_pop_2017["GDP (constant 2010 US$)"] / gdp_and_pop_2017["population"]
gdp_and_pop_2017

           Entity Code  Year  GDP (constant 2010 US$)
0     Afghanistan  AFG  2002             8.013233e+09
1     Afghanistan  AFG  2003             8.689884e+09
2     Afghanistan  AFG  2004             8.781610e+09
3     Afghanistan  AFG  2005             9.762979e+09
4     Afghanistan  AFG  2006             1.030523e+10
...           ...  ...   ...                      ...
8864     Zimbabwe  ZWE  2013             1.418193e+10
8865     Zimbabwe  ZWE  2014             1.448359e+10
8866     Zimbabwe  ZWE  2015             1.472830e+10
8867     Zimbabwe  ZWE  2016             1.481899e+10
8868     Zimbabwe  ZWE  2017             1.532981e+10

[8869 rows x 4 columns]
            Entity Code  Year  Total population (Gapminder, HYDE & UN)
0      Afghanistan  AFG  1800                                  3280000
1      Afghanistan  AFG  1801                                  3280000
2      Afghanistan  AFG  1802                                  3280000
3      Afghanistan  AFG  1803                                  3280000
4      Afghanistan  AFG  1804                                  3280000
...            ...  ...   ...                                      ...
46878     Zimbabwe  ZWE  2015                                 13815000
46879     Zimbabwe  ZWE  2016                                 14030000
46880     Zimbabwe  ZWE  2017                                 14237000
46881     Zimbabwe  ZWE  2018                                 14439000
46882     Zimbabwe  ZWE  2019                                 14645000

[46883 rows x 4 columns]

,Entity,Code_x,Year_x,GDP (constant 2010 US$),gdp,Code_y,Year_y,population,gdp per capita
0,Afghanistan,AFG,2017.0,2.196941e+10,21.969414,AFG,2017.0,3.629600e+07,605.284718
1,Albania,ALB,2017.0,1.398856e+10,13.988556,ALB,2017.0,2.884000e+06,4850.400743
2,Algeria,DZA,2017.0,1.993674e+11,199.367414,DZA,2017.0,4.138900e+07,4816.917876
3,Andorra,AND,2017.0,3.382068e+09,3.382068,AND,2017.0,7.700000e+04,43922.964124
4,Angola,AGO,2017.0,1.037860e+11,103.785984,AGO,2017.0,2.981700e+07,3480.765485
...,...,...,...,...,...,...,...,...,...
238,Venezuela,NaN,NaN,NaN,NaN,VEN,2017.0,2.940200e+07,NaN
239,Wallis and Futuna,NaN,NaN,NaN,NaN,WLF,2017.0,1.200000e+04,NaN
240,Western Sahara,NaN,NaN,NaN,NaN,ESH,2017.0,5.530000e+05,NaN
241,World,NaN,NaN,NaN,NaN,OWID_WRL,2017.0,7.547859e+09,NaN
242,Yemen,NaN,NaN,NaN,NaN,YEM,2017.0,2.783500e+07,NaN